.Burger {
    display: none;
    text-align: right;
    flex-direction: row;
    align-items: end;
    font-size: 5rem;
    bottom: 1.3rem;
}

@media (max-width: 1024px) {
    header{
        min-height: 10rem;
        max-height: 10rem;
    }
    div.navigation{
        display: none;
    }
    .Burger{
        display: block;
        text-align: left;
        flex-direction: row;
        align-items: start;
        font-size: 5rem;
        position: relative;
        left: 1rem;
        top: 1rem;
    }
}

header{
    background-color: #666;
    border-bottom: var(--border);
    width: 100%;

}

header a, header p{
    color: var(--color-text-header);
    font-size: 1.5rem;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.Logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Logo img{
    width: 100%;
    height: 8rem;
}

