@import "variables.css";
#welcome {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome .bannière{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome .liens{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 5px outset #7D7D7D;
}

#promo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 2rem;
    border-bottom: 5px outset #7D7D7D;
    min-height: 48rem;
    max-height: 48rem;
}

#promo .produits_en_promo{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#promo img{
    height:30rem;
    width:100%;
}
/*Chaque produit a un hover propre à celui-ci car les images nécessitent des dimensions spécifiques*/
#promo .bael img:hover{
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity:0.5;
    width: 21rem;
    height: 33rem;
    box-shadow: var(--shadow-box);
}
#promo .bael img:not(hover){
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity: 1;
    width: 100%;
    height: 30rem;
    box-shadow: none;
}

#promo .nier_automata img:hover{
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity:0.5;
    width: 45rem;
    height: 33rem;
    box-shadow: var(--shadow-box);
}
#promo .nier_automata img:not(hover){
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity: 1;
    width: 100%;
    height: 30rem;
    box-shadow: none;
}

#promo .hyaku_shiki img:hover{
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity:0.5;
    width: 26rem;
    height: 33rem;
    box-shadow: var(--shadow-box);
}
#promo .hyaku_shiki img:not(hover){
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity: 1;
    width: 100%;
    height: 30rem;
    box-shadow: none;
}

@media (max-width: 1024px) {
    #promo{
        min-height: 100%;
        max-height: 100%;
    }
    #promo .produits_en_promo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #promo .produits_en_promo img:hover{
        transition: none;
        opacity:1;
        width: 100%;
        height: 30rem;
        box-shadow: none;
    }
}


#new{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40rem;
    max-height: 40rem;
}

#new .new_products{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#new img{
    width:100%;
    height:27.5rem;
}

#new .perfect img:hover{
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity:0.5;
    width: 100%;
    height: 27rem;
    box-shadow: var(--shadow-box);
}

#new .perfect img:not(hover){
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity: 1;
    width: 100%;
    height: 25.75rem;
    box-shadow: none;
}

#new .deformed img:hover{
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity:0.5;
    width: 100%;
    height: 28rem;
    box-shadow: var(--shadow-box);
}

#new .deformed img:not(hover){
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 0.5s;
    opacity: 1;
    width: 100%;
    height: 27.5rem;
    box-shadow: none;
}

@media (max-width: 1024px) {
    #new{
        min-height: 100%;
        max-height: 100%;
    }
    #new .new_products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #new .perfect img:hover{
        transition: none;
        opacity: 1;
        width: 100%;
        height: 25.75rem;
        box-shadow: none;
    }
    #new .deformed img:hover{
        transition: none;
        opacity: 1;
        width: 100%;
        height: 27.5rem;
        box-shadow: none;
    }
    #welcome .bannière img{
        width: 100%;
        height: 16rem;
    }
}