main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#présentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 5px outset #B8B8B8;
    margin-bottom: 10px;
    width: 100%;
}

#présentation img{
    border-radius: 20px;
    width: 100%;
    height: 35rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text_and_buy{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
    border: var(--border);
    border-radius: 10px;
    background-color: rgba(153, 153, 153, 0.6);
}

.text_and_buy blockquote{
    background-color: rgba(153, 153, 153, 0.8);
    border: 5px;
    border-radius: 20px;
    font-size: 1.1rem;
}

.text_and_buy button{
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#pictures_and_tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

#pictures_and_tech img{
    border-radius: 15px;
    width: 100%;
    height: 22rem;
    padding-bottom: 10px;
}

.pictures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

#recommandations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#recommandations img{
    border-radius: 20px;
    width: 100%;
    height: 23rem;
}

.produits_recommandés{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    width: 100%;
}

tbody, thead, tr, th, td{
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

table{
    border-top: 3px solid black;
    border-left: 3px solid black;
}

@media (max-width: 1024px) {
    #présentation, #pictures_and_tech, #pictures_and_tech .pictures, #recommandations .produits_recommandés{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text_and_buy{
        width: 100%;
    }
}